<div id="bodyFooter">
    <div ms.exid="footer" id="Footer" logginginteractiontypeid="4">
        <div id="FooterText">
            <span id="FooterCopyright">© 2024—2026 Jack Pomi Software</span>
            <span id="FooterLinks">
                <span id="Footer_about"><a id="Footer_about_href" href="/about.html" data-i18n="navbar_about">About us</a></span><span class="lsep">|</span><span id="Footer_contact"><a id="Footer_contact_href" href="/contact.html" data-i18n="map_contact_short">Contact</a></span><span class="lsep">|</span><span id="Footer_youtube"><a id="Footer_youtube_href" href="https://www.youtube.com/channel/UCVrdA-lt9i5QhAKOSPOciDw">YouTube</a></span><span class="lsep">|</span><span id="Footer_twitter"><a id="Footer_twitter_href" href="https://x.com/jackpomi_soft">Twitter</a></span><span class="lsep">|</span><span id="Footer_github"><a id="Footer_github_href" href="https://github.com/JackPomiSoftware">GitHub</a></span><span class="lsep">|</span><span id="Footer_boosty"><a id="Footer_boosty_href" href="https://boosty.to/jackpomisoftware">Boosty</a></span>
            </span>
        </div>
    </div>
</div>
<div id="bodyContainerBgOutBot">
    <div id="bodyContainerBgInBot"></div>
</div>

