<div id="HeaderCover">
    <div id="bodyHeader">
        <div ms.exid="header" id="Header" logginginteractiontypeid="29">
            <a id="TopOfPageTarget"></a>
            <div id="HeaderTop">
                <div id="HeaderLocaleChooser">
                    <span id="LC_CurrentLocale" data-i18n="loc_current">Current language</span><img id="loc_flag" src="img/loc/ru.png">
                    <select id="lang-switch">
                        <option value="en">English</option>
                        <option value="de">Deutsch</option>
                        <option value="it">Italiano</option>
                        <option value="ru">Русский</option>
                    </select>
                </div>
            </div>
            <div id="HeaderBottom">
                <div id="HeaderWinLogo">
                    <a id="HeaderWinLogo_href" title="Jack Pomi Software" href="/">
                        <img alt="Windows" src="img/logo.png" height="50">
                    </a>
                </div>
                <a id="SkipToContentPane" href="#bodyContentPane">Skip to content pane</a>
                <div ms.exid="searchBox" class="SearchQuery"></div>
            </div>
        </div>
    </div>

    <div id="bodyNavBar">
        <div ms.exid="nav" ms.cid="111106" ms.cver="429">
            <div class="navLine1Container">
                            <div class="navMenuContainer" logginginteractiontypeid="2" pagetaxonomy.primary="Home">
                    <div class="navMenu">
                        <span class="menuTitleEmpty">
                            <a class="menuTitleLink" href="/" data-i18n="navbar_home">Home</a>
                        </span>
                        <span class="menuTitleEmpty">
                            <a class="menuTitleLink" href="/uc" data-i18n="navbar_uc">Ultimate Control</a>
                        </span>
                        <span class="menuTitleEmpty">
                            <a class="menuTitleLink" href="/law.html" data-i18n="navbar_law">LAW</a>
                        </span>
                        <span class="menuTitle">
                            <a class="menuTitleLink" href="" data-i18n="navbar_legacy">Legacy software</a>
                            <div class="menuTitleUnderline"></div>
                            <div class="menuGroupWrapper" logginginteractiontypeid="3">
                                <div class="menuGroupWrapperInner">
                                    <div class="menuGroup">
                                        <a class="menuItemLink" href="/isg.html" data-i18n="navbar_isg">IsGenuine</a>
                                        <a class="menuItemLink" href="/uqa.html" data-i18n="navbar_uqa">UAC QuickAccess</a>
                                        <a class="menuItemLink" href="/ier.html" data-i18n="navbar_ier">IE Return</a>
                                    </div>
                                </div>
                                <div class="dropdownGradientContainer">
                                    <div class="dropdownGradient"></div>
                                </div>
                                <div class="menuGroupWrapperShadow"></div>
                            </div>
                        </span>
                        <span class="menuTitle">
                            <a class="menuTitleLink" href="https://jack-jackie-pomi.itch.io/" data-i18n="navbar_itch">Games (itch.io)</a>
                            <div class="menuTitleUnderline"></div>
                            <div class="menuGroupWrapper" logginginteractiontypeid="3">
                                <div class="menuGroupWrapperInner">
                                    <div class="menuGroup">
                                        <a class="menuItemLink" href="https://jack-pomi-software.itch.io/oltcit-escape-demo">Oltcit Escape Demo</a>
                                        <a class="menuItemLink" href="https://jack-pomi-software.itch.io/ballncan">Ball'n'Can</a>
                                        <a class="menuItemLink" href="https://jack-pomi-software.itch.io/srdc">SRDC</a>
                                    </div>
                                </div>
                                <div class="dropdownGradientContainer">
                                    <div class="dropdownGradient"></div>
                                </div>
                                <div class="menuGroupWrapperShadow"></div>
                            </div>
                        </span>
                        <span class="menuTitleEmpty">
                            <a class="menuTitleLink" href="https://boosty.to/jackpomisoftware" data-i18n="navbar_support">Support us</a>
                        </span>
                        <span class="menuTitleEmpty">
                            <a class="menuTitleLink" href="about.html" data-i18n="navbar_about">About</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="navLine2Container"></div>
        </div>
    </div>
</div>

