<div id="S04" class="sectionFlush">
    <div id="ctl00_FormlessContentPlaceholder_ContentPlaceholder_C04_01" class="containerFullWidth">
        <script type="text/javascript">
            link_expandAllText = 'Show all';
            link_collapseAllText = 'Hide all';
        </script>
        <div ms.exid="xmlRender" ms.cid="395188" ms.cver="204" class="topic_body_full contentPiece">
            <div class="section-gradient-top">
                <div class="nearCap"></div>
                <div class="farCap"></div>
            </div>
            <div class="defaultTableBlock">
                <table class="section_section-grid-5col-near grid-near lastElement" summary="">
                    <tbody>
                        <tr>
                            <td class="grid grid-first">
                                <div class="section_section-product">
                                    <h2 class="title_section" data-i18n="map_title1">Site map</h2>
                                    <ul>
                                        <li class="linklist">
                                            <a href="/" class="navigationLink" id="ID0EBBTBJBBBBA" data-i18n="navbar_home">Home</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/news.html" class="navigationLink" id="ID0EBBPBJBBBBA" data-i18n="map_news">News</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/about.html" class="navigationLink" id="ID0EBBNBJBBBBA" data-i18n="navbar_about">About Jack Pomi Software</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/contact.html" class="navigationLink" id="ID0EBBNBJBBBBA" data-i18n="map_contact">Contact information</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="grid grid-second">
                                <div class="section_section-product">
                                    <h2 class="title_section" data-i18n="map_title2">Ultimate Control</h2>
                                    <ul>
                                        <li class="linklist">
                                            <a href="/uc" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect2_1">Website</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/uc/doc" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect2_2">Documentation</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="https://github.com/JackPomiSoftware/UltimateControl" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect2_3">Repository</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="grid grid-second">
                                <div class="section_section-product">
                                    <h2 class="title_section" data-i18n="map_title3">Local Account Wizard</h2>
                                    <ul>
                                        <li class="linklist">
                                            <a href="/law.html" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect3_1">Website</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/doc/law/" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect3_2">Documentation</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="https://github.com/JackPomiSoftware/LocalAccountWizard" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect3_3">Repository</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="grid grid-third">
                                <div class="section_section-product">
                                    <h2 class="title_section" data-i18n="map_title4">Legacy software</h2>
                                    <ul>
                                        <li class="linklist">
                                            <a href="/ier.html" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect4_1">IE Return</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/uqa.html" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect4_2">UAC QuickAccess</a>
                                        </li>
                                        <li class="linklist">
                                            <a href="/isg.html" class="navigationLink" id="ID0EBBRBJBBBBA" data-i18n="map_sect4_3">IsGenuine</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

